@font-face {
  font-family: 'horev';
  src: local('horev'), url(./fonts/horev/horev/horevclm-heavy-webfont.ttf) format('truetype');
}
@font-face {
  font-family: 'Felix007';
  src: local('Felix007'), url(./fonts/felix007/fonts/felix007-medium-webfont.ttf) format('truetype');
}
@font-face {
  font-family: 'Shuneet';
  src: local('Shuneet'), url(./fonts/Shuneet/shuneet_medium_v2.otf) format('truetype');
}
* {
  font-family: 'Shuneet';
  margin: 0;
  padding: 0;
}
:root {
  --verylightblue: #d7faf5e7;
  --mainRed: #BB0A21;

  --dback: #dbf3ef;
  --back: #83d1c548;
  --grey: #4D5352;
  --dblue: #286f9b;
  --blue: #84c5da;
  --green: rgba(90, 221, 129, 0.847);
  --lightgreen: #32e23263;
  --primaryColor: #ffab66;
  --mainWhite: #fff;
  --mainBlack: #222;

  --mainSpacing: 3px;
  --lightShadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.4);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
}

/*hero*/
.void{
  height: 430px;
  border-bottom: 3px groove var(--blue);
}
.pic{
  width: 98vw;
  height: 430px;
  background: url("./images/כותרת/pp.png") no-repeat;
  background-position: left;
  background-size: 70%;
}
/* Banner */
.banner h1 {
  padding: 30px;
  padding-bottom: 0px;
  font-size: 9rem;
  text-align: right;  
  letter-spacing: 6px;
  line-height: 0.8;
}
.banner {
  width: 30%;
  padding-top: 10px;
  color: var(--grey);
}
/*hero contact form*/
.sform{
  position: absolute;
  left: 21vw;
  top: 110px;
  width: 27vw;
  text-align: center;
}
.sform input{
  border: 3px solid var(--grey);
  border-radius: 5px;
}
.sform-control {
  width: 80%;
  font-size: 1rem;
  padding: 3px;
  margin: 5px;
}
.ssubmit{
  width: 90%;
  height: 100%;
  font-weight:800;
  cursor: pointer;
  font-size: larger;
  border-radius: 50px;
  background: var(--primaryColor);
  color: var(--grey);
  box-shadow: 2px 2px var(--blue);
  letter-spacing: var(--mainSpacing);
  padding: 5px;
  padding-top: 7px;
  margin-top: 17px;
}
.ssubmit:hover {
  transform: translateY(-0.1rem);
  box-shadow: 3px 4px var(--blue);
}
@media screen and (max-width: 1170px) {
  .sform{
    left: 18vw;
    top: 120px;
    width: 32vw;
  }
  .ssubmit{
    width: 85%;
    margin-top: 5px;
  }
}
@media screen and (max-width: 970px) {
  .void{
    height: 330px;
  } .pic {
    background-size: 80%;
    height: 320px;
  }
  .banner h1 {
    padding-top: 30px;
    font-size: 6rem;
  }
  .sform{
    left: 23vw;
    top: 66px;
    width: 32vw;
  }
  .ssubmit{
    width: 85%;
    margin-top: 5px;
  }
}
@media screen and (max-width: 880px) {
  .void{
    height: 430px;
  } .pic {
    background-size: 100%;
    height: 490px;
    width: 96vw;
  }.banner {
    width: auto;
    padding-top: 15px;
  }
  .banner h1 {
    text-align: center;
    padding-top: 7px;
    font-size: 4rem;
  }
  .sform{
    left: 30vw;
    top: 155px;
    width: 37vw;
  }
  .sform-control {
    margin: 3px;
  }
  .ssubmit{
    width: 100%;
    margin-top: 11px;
  }
}
@media screen and (max-width: 640px) {
  .void{
    height: 330px;
  } .pic {
    height: 380px;
  }
  .banner h1 {
    font-size: 3rem;
  }
  .sform{
    left: 29vw;
    top: 114px;
    width: 39vw;
  }
  .sform input{
    height: 17px;
    margin: 2px;
  }
  .ssubmit{
    width: 100%;
    margin-top: 3px;
  }
}
@media screen and (max-width: 520px) {
  .void{
    height: 315px;
  }.pic{
    height: 320px;
  }
  .sform input{
    height: 100%;
    margin: 3px;
  }
  .sform{
    width: 43vw;
    left: 26.5vw;
    top: 103px;
  }.ssubmit{
    margin-top: 56px;
  }
}
@media screen and (max-width: 480px) {
  .void{
    height: 275px;
  }.pic{
    height: 260px;
  }.banner {
    padding-top: 10px;
    margin-bottom: 10px;
  }.banner h1 {
    font-size: 2.5rem;
  }.sform{
    left: 30vw;
    top: 74px;
  }
  .ssubmit{
    margin-top: 40px;
  }
}

/*services*/
.services{
  background: var(--back);
}
.services-center {
  color: var(--grey);
  margin: auto;
  padding: 20px;
  padding-top: 70px;
  padding-bottom: 80px;
  text-align: center;
  display: grid;
  grid-row-gap: 4rem;
  grid-column-gap: 0rem;  
  grid-template-columns: 1fr 1fr;
}
@media screen and (min-width: 940px) {
  .services-center {
    width: 85vw;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
.icon-services {
  background: var(--mainWhite);
  font-size: 2.2rem;
  color: var(--green);
  padding: 1.2rem 0.9rem 0 0.9rem;
  /* border-radius: 50%; */
  border: 2px solid var(--grey);
  border-radius: 355px 55px 355px 55px/55px 355px 55px 355px;
}
.icon-services :hover{
  transform: scale(1.034);
}
.p-services {
  font-weight: 600;  
  font-size: 1rem;
  margin-top: 15px;
  letter-spacing: 1px;
  color: var(--lightblue);
}

/*ABOUT*/
.about {
  background: var(--blue);
  margin: auto;
  display: grid;
  padding: 40px;
  padding-top: 1px;
  grid-row-gap: 2rem;  
}
@media screen and (min-width: 1050px) {
  .about {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 3rem;
    padding-bottom: 0px;
    padding-top: 30px;
  }
  .up{
    position: relative;
    bottom: 60px;
  }
  .down{
    position: relative;
    bottom: 0px;
  }
}
.focused {
  width: 400px;
  height: 150px;
  background: url("./images/fw.png") no-repeat;
  background-size: contain;
  margin-right: 0px;
  margin-bottom: 20px;
}
@media screen and (max-width: 520px) {
  .about {
    padding-bottom: 0px;
  }
  .focused{
    width: 200px;
    height: 120px;
    margin: auto;
    padding-bottom: 60px;
  }
  .choose {
    width: 220px;
    height: 100px;
    background: url("./images/icons/coding_.png") no-repeat;
    background-size: contain;
    margin-top: 10px;
  }
}
.bf {
  border-style: solid;
  border-width: 0px 71vw 99px 29vw;
  border-color: transparent transparent  var(--blue) transparent;
  background:var(--back);
}
.af {
  left: 20.6vw;
  bottom: 54px;
  position: relative;
  border-style: solid;
  border-width: 60px 15vw 0px 88vw;
  border-color: var(--blue) transparent transparent transparent;
  transform: translateX(-20%) translateY(90%);
  background:var(--back);
}

/*-------מסגרת  זזה על תמונה--------*/
.grid *,.grid *:after, .grid *:before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.grid {
	position: relative;
	margin: 0 auto;
	padding: 1em 0 4em;
	list-style: none;
	text-align: center;
}
.grid figure {
	position: relative;
	float: right;
	overflow: hidden;
	margin: 10px auto;
	width: 100%;
	max-width: 100%;
	max-height: 390px;
	background: #3085a3;
	text-align: center;
  cursor: pointer;
  border-radius: 5px;
}
.grid figure img {
	position: relative;
	display: block;
	min-height: 100%;
	max-width: 100%;
	opacity: 0.8;
  width: 100%;
}
.grid figure figcaption {
	padding: 2em;
	color: #fefefe;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}
.grid figure figcaption,
.grid figure figcaption > a {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
}
/* weblist */
.weblist{
  padding-top: 60px;
  background: var(--back);
}
.weblist-center {
  padding-top: 20px;
  width: 90vw;
  margin: auto;
  display: grid;
}
.websec{
  margin: auto;
  padding: 20px;
  padding-bottom: 0px;
  padding-top: 40px;
  display: grid;
  grid-row-gap: 20px;
  grid-column-gap: 50px;
  grid-template-columns: repeat(auto-fit, minmax(310px, 1fr)); 
  border-top: 3px groove var(--primaryColor);
}
/***** Chico *****/
figure.effect-chico img {
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  transform: scale(1);
  max-width: 100%;
  width: 500px;
  height: 240px;
  border-radius: 5px;
  border: 1px solid var(--verylightblue);
}
figure.effect-chico:hover img {
	opacity: 0.2;
  transform: scale(1.04);
}
figure.effect-chico a {
  text-decoration: none;
  color: var(--mainWhite);
  margin: 0 auto;
  font-size: 2rem;
  padding: 20% 0 10px 0;
  transform: scale(1.5);
}
/*המסגרת*/
figure.effect-chico figcaption::before {
	position: absolute;
	top: 10%;
	right: 10%;
	bottom: 10%;
	left: 10%;
	border: 2px solid #fefefe;
	content: '';
	-webkit-transform: scale(1.5);
	transform: scale(1.1);
}
/*עושה שיעלם כשלא עוברים*/
figure.effect-chico figcaption::before,
figure.effect-chico a {
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}
/*עושה שיופיע כשעוברים*/
figure.effect-chico:hover figcaption::before,
figure.effect-chico:hover a {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

/*start*/
.sec{
  background: var(--blue);
  display: grid;
  margin: auto;
  padding: 30px;
  padding-top: 0px;
}
@media screen and (min-width: 1000px) {
  .sec {
    padding: 20px;
    padding-top: 55px;
    grid-template-columns: 1fr 1.7fr;
  }
}
.sec img{
  margin: auto;
  height: 200px;
  width: 290px;
  padding: 20px;
}
.sbf {
  background: var(--back);
  border-style: solid;
  border-width: 0px 100vw 90px 0vw;
  border-color: transparent transparent  var(--blue) transparent;
}
.saf {
  background: var(--back);
  left: 20vw;
  bottom: 63px;
  position: relative;
  border-style: solid;
  border-width: 70px 0vw 0px 100vw;
  border-color: var(--blue) transparent transparent transparent;
  transform: translateX(-20%) translateY(90%);
}

/*icon-sec frame*/
.icon-sec {
  margin: 15px;
  margin-top: 40px;
  margin-bottom: 0px;
}
.gradient-border {
  width: 90%;
  height: 320px;
  margin: auto;
  --borderWidth: 3px;
  position: relative;
  background: var(--mainWhite);
  border-radius: var(--borderWidth);
}
.gradient-border:after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}
@keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/*icons*/
.col a {
  font-size: 19px;
  color: var(--mainBlack);
  font-family: 'Felix007';
}
.contact-icon{
  margin: 30px;
  margin-bottom: -17px;
  padding: 6px;
  font-size: 1.5rem;
  border-radius: 15px;
  box-shadow: 1px 2px 2px 2px rgba(0, 0, 0, 0.281);
}
.wtsp{
  background: var(--mainWhite);
  font-family: 'Felix007';
  font-size: 19px;
  height: 1px;
  border: none;
  cursor: pointer;
}
.wtsp:hover, .g:focus {
  border: 0px white;
}
@media screen and (max-width: 480px) {
  .icon-align {
    margin-left: 5%;
  }
}
@media screen and (min-width: 500px) {
  .icon-align {
    margin-right: 12%;
  }
}

/*2 columns*/
.col {
  display: grid;
  background: var(--back);
  border-bottom: 1px groove var(--primaryColor);
}
.contact-sec {
  padding: 3rem;
  padding-bottom: 2rem;
  text-align: center;
  color: var(--grey);
}
@media screen and (min-width: 1170px) {
  .col {
    grid-template-columns: 3fr 5fr;
  }
  .contact-sec {
    border-right: 1px groove var(--blue);
  }
  .icon-sec {
    padding-top: 170px;
  } 
  .icon-align {
    margin-right: 15%;
  }
  .gradient-border {
    --borderWidth: 0px;
    background: var(--dback);
  }
}

/*contact form*/
.cform input{
  border: 0px;
  padding: 8px;
  padding-right: 20px;
  border-radius: 3px;
  background-color: var(--lightgreen);
}
.form-control {
  width: 90%;
  font-size: 1rem;
  padding: 4px;
  margin: 3px;
}
.long { 
  border: 2px;
  padding: 8px;
  padding-right: 20px;
  border-radius: 3px;
  background-color: var(--lightgreen);
}
.s{
  border-radius: 55px 355px 55px 355px/355px 55px 355px 55px;
  background: var(--primaryColor);
  margin-top: 10px;
  color: var(--grey);
  width: 85%;
}

/*global*/
h1 {
  font-family:'Horev';

  text-align: center;
  font-size: 2rem;
  direction: rtl;
  line-height: 1.3;
  margin-bottom: 0.3em;
  letter-spacing: var(--mainSpacing);
}
h2 {
  color: var(--grey);
  letter-spacing: 3px;  
  font-family:'Horev';
  font-size: 2rem;
  padding: 10px;
}
h3 {
  font-size: 20px;
  letter-spacing: 3px;
  line-height: 2;
  font-weight: 600;
}
h4 {
  font-size: 1.2em;
  margin-bottom: 0.5em;
}
h5 {
  text-align: justify;
  font-family: 'Shuneet';
  font-size: 1.2rem;
  letter-spacing: 1px;
  font-weight: 600;
  line-height: 2;
}
h6 {
  text-align: justify;
  font-family: 'Shuneet';
  font-size: 1.3rem;
  letter-spacing: 1px;
  font-weight: normal;
  line-height: 1.3;
}
div{
  direction: rtl;
}