* {
  font-family: 'Felix007', serif, 'Lucida Sans Unicode', sans-serif;
  margin: 0;
  padding: 0;
}
:root {
  --verylightblue: #d7faf5e7;
  --mainRed: #BB0A21;

  --grey: #4D5352;
  --dblue: #286f9b;
  --blue: #84c5da;
  --lightgreen: #5add81d8;
  --primaryColor: #ffab66;
  --mainWhite: #fff;
  --mainBlack: #222;

  --mainSpacing: 3px;
  --lightShadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.4);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
}


/*hero*/
.void{
  height: 410px;
  border-bottom: 3px groove var(--blue);
}
.pic{
  width: 98vw;
  height: 390px;
  background: url("./images/כותרת/p.png") no-repeat;
  background-position: left;
  background-size: 70%;
}
/* Banner */
.banner h1 {
  padding: 30px;
  padding-bottom: 0px;
  font-size: 9rem;
  text-align: right;  
  letter-spacing: 6px;
  line-height: 0.8;
}
.banner {
  width: 30%;
  padding-top: 10px;
  color: var(--mainRed);
}

/*contact form*/
.sform{
  position: absolute;
  left: 21vw;
  top: 90px;
  width: 27vw;
  text-align: center;
}
.sform input{
  border: 3px solid var(--dblue);
  border-radius: 5px;
}
.sform-control {
  width: 80%;
  font-size: 1rem;
  padding: 3px;
  margin: 5px;
}
.ssubmit{
  width: 90%;
  height: 100%;
  padding: 6px;
  font-weight:900;
  cursor: pointer;
  margin-top: 17px;
  font-size: larger;
  color: var(--verylightblue);
  background: var(--mainRed);
  box-shadow: 2px 2px var(--blue);
  letter-spacing: var(--mainSpacing);
  border-radius: 55px 355px 55px 355px/355px 55px 355px 55px;
}
.ssubmit:hover {
  box-shadow: var(--lightShadow);
  transform: translateY(-0.25rem);
  box-shadow: 3px 3px var(--blue);
}
@media screen and (max-width: 1170px) {
  .sform{
    left: 18vw;
    top: 95px;
    width: 32vw;
  }
  .ssubmit{
    width: 85%;
    margin-top: 5px;
  }
}
@media screen and (max-width: 970px) {
  .void{
    height: 300px;
  } .pic {
    background-size: 80%;
    height: 300px;
  }
  .banner h1 {
    padding-top: 30px;
    font-size: 6rem;
  }
  .sform{
    left: 23vw;
    top: 44px;
    width: 32vw;
  }
  .ssubmit{
    width: 85%;
    margin-top: 5px;
  }
}
@media screen and (max-width: 850px) {
  .void{
    height: 400px;
  } .pic {
    background-size: 100%;
    height: 450px;
  }.banner {
    width: auto;
    padding-top: 15px;
    /* color: var(--primaryColor); */
  }
  .banner h1 {
    text-align: center;
    padding-top: 7px;
    font-size: 4rem;
  }
  .sform{
    left: 30vw;
    top: 135px;
    width: 37vw;
  }
  .sform-control {
    margin: 1px;
  }
  .ssubmit{
    width: 100%;
    margin-top: 11px;
  }
}
@media screen and (max-width: 640px) {
  .void{
    height: 340px;
  } .pic {
    height: 390px;
  }
  .banner h1 {
    font-size: 3rem;
  }
  .sform{
    left: 28vw;
    top: 120px;
    width: 39vw;
  }
  .sform input{
    height: 17px;
  }
  .ssubmit{
    width: 100%;
    margin-top: 9px;
  }
}
@media screen and (max-width: 520px) {
  .void{
    height: 315px;
  }.pic{
    height: 320px;
  }.banner h1 {
    font-size: 2.5rem;
  }
  .sform input{
    height: 100%;
    margin: 3px;
  }
  .sform{
    width: 43vw;
    left: 26vw;
    top: 95px;
  }.ssubmit{
    margin-top: 52px;
  }
}
@media screen and (max-width: 480px) {
  .void{
    height: 280px;
  }.pic{
    height: 250px;
  }.banner {
    padding-top: 10px;
    margin-bottom: 10px;
  }.banner h1 {
    font-size: 1.5rem;
  }.sform{
    left: 29vw;
    top: 65px;
  }.ssubmit{
    margin-top: 40px;
  }
}

/*services*/
.services-center {
  color: var(--grey);
  margin: auto;
  padding: 20px;
  padding-top: 70px;
  padding-bottom: 150px;
  text-align: center;
  display: grid;
  grid-row-gap: 4rem;
  grid-column-gap: 0rem;  
  grid-template-columns: 1fr 1fr;
}
@media screen and (min-width: 940px) {
  .services-center {
    width: 85vw;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
.icon-services {
  background: var(--lightgreen);
  font-size: 2.2rem;
  color: var(--primaryColor);
  padding: 0.9rem 0.9rem 0 0.9rem;
  border-radius: 50%;
  border: 2px solid var(--primaryColor);
  /* border-radius: 355px 55px 355px 55px/55px 355px 55px 355px; */
}
.icon-services :hover{
  color: var(--mainWhite);
  transform: scale(1.03);
}
.h6-services {
  font-weight: 600;  
  font-size: 13px;
  margin-top: 15px;
  letter-spacing: 2px;
  color: var(--lightblue);
}

/*ABOUT*/
.about {
  position: relative;
  bottom: 60px;
  background: var(--blue);
  margin: auto;
  display: grid;
  padding: 50px;
  grid-row-gap: 2rem;  
}
@media screen and (min-width: 1150px) {
  .about {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 3rem;
    padding-bottom: 0px;
    padding-top: 40px;
  }
  .up{
    position: relative;
    bottom: 45px;
  }
  .down{
    position: relative;
    top: 30px;
  }
}
.bf {
  bottom: 60px;
  position: relative;
  border-style: solid;
  border-width: 0px 73vw 60px 30vw;
  border-color: transparent transparent  var(--blue) transparent;
}
.af {
  left: 20%;
  bottom: 96px;
  position: relative;
  border-style: solid;
  border-width: 40px 20vw 0px 80vw;
  border-color: var(--blue) transparent transparent transparent;
  transform: translateX(-20%) translateY(90%);
}

/*-------מסגרת  זזה על תמונה--------*/
.grid *,.grid *:after, .grid *:before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.grid {
	position: relative;
	margin: 0 auto;
	padding: 1em 0 4em;
	list-style: none;
	text-align: center;
}
.grid figure {
	position: relative;
	float: right;
	overflow: hidden;
	margin: 10px auto;
	width: 100%;
	max-width: 100%;
	max-height: 390px;
	background: #3085a3;
	text-align: center;
  cursor: pointer;
  border-radius: 5px;
}
.grid figure img {
	position: relative;
	display: block;
	min-height: 100%;
	max-width: 100%;
	opacity: 0.8;
  width: 100%;
}
.grid figure figcaption {
	padding: 2em;
	color: #fefefe;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}
.grid figure figcaption,
.grid figure figcaption > a {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
}
/* weblist */
.weblist-center {
  padding-top: 20px;
  width: 85vw;
  margin: auto;
  display: grid;
}
.websec{
  margin: auto;
  padding: 20px;
  padding-bottom: 0px;
  padding-top: 40px;
  display: grid;
  grid-row-gap: 20px;
  grid-column-gap: 50px;
  grid-template-columns: repeat(auto-fit, minmax(310px, 1fr)); 
  border-top: 3px groove var(--primaryColor);
}
/***** Chico *****/
figure.effect-chico img {
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  transform: scale(1);
  max-width: 100%;
  width: 500px;
  height: 100%;
  border-radius: 5px;
  border: 1px solid var(--offwhite);
}
figure.effect-chico:hover img {
	opacity: 0.2;
  transform: scale(1.04);
}
figure.effect-chico a {
  text-decoration: none;
  color: var(--mainWhite);
	margin: 0 auto;
  padding: 130px 0 20px 0;
  transform: scale(1.5);
}
/*המסגרת*/
figure.effect-chico figcaption::before {
	position: absolute;
	top: 10%;
	right: 10%;
	bottom: 10%;
	left: 10%;
	border: 2px solid #fefefe;
	content: '';
	-webkit-transform: scale(1.5);
	transform: scale(1.1);
}
/*עושה שיעלם כשלא עוברים*/
figure.effect-chico figcaption::before,
figure.effect-chico a {
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}
/*עושה שיופיע כשעוברים*/
figure.effect-chico:hover figcaption::before,
figure.effect-chico:hover a {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

/*מפריד גלים*/
.blue-spikes {
  position: relative;
  height: 0vh;
}
.blue-spikes::after {
  content: '';
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 10;
  display: block;
  height: 25px;
  background-size: 20px 100%;
  background-image: 
  linear-gradient(10deg, var(--blue) 2%, transparent 30%),
  linear-gradient(350deg, var(--blue) 0%, transparent 30%);
  background-position: 0 0;
}
.sec{
  background: var(--blue);
  padding: 70px;
  padding-bottom: 90px;
  margin: auto;
}
.spikes {
  position: relative;
}
.spikes::after {
  content: '';
  position: absolute;
  right: 0;
  left: 0;
  bottom: 100%;
  z-index: 10;
  display: block;
  height: 45px;
  background-size: 20px 100%;
  background-image: 
  linear-gradient(10deg, var(--mainWhite) 25%, transparent 35%),
  linear-gradient(350deg, var(--mainWhite) 25%, transparent 35%);
  background-position: 0 0;
}



.icon-sec {
  margin: 25px;
}
.gradient-border {
  width: 90%;
  height: 320px;
  margin: auto;
  --borderWidth: 3px;
  position: relative;
  background: var(--mainWhite);
  border-radius: var(--borderWidth);
}
.gradient-border:after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}
@keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/*icons*/
.col a {
  color: var(--myblue);
  font-size: 19px;
}
.contact-icon{
  margin: 30px;
  margin-bottom: -17px;
  padding: 5px;
  font-size: 2rem;
  border-radius: 5px;
  box-shadow: 1px 2px 2px 2px rgba(0, 0, 0, 0.281);
}
.icon-align {
  margin-right: 5%;
}
.wtsp{
  background: var(--mainWhite);
  font-size: 19px;
  height: 1px;
  border: none;
  cursor: pointer;
}
.wtsp:hover, .g:focus {
  border: 0px white;
}

.contact-sec {
  padding: 3rem;
  text-align: center;
  color: var(--grey);
}
/*2 columns*/
.col {
  display: grid;
  border-bottom: 3px groove var(--primaryColor);
}
@media screen and (min-width: 1170px) {
  .contact-sec {
    border-right: 1px groove var(--blue);
  }
  .col {
    grid-template-columns: 3fr 5fr;
  }
  .icon-sec {
    padding-top: 190px;
  } 
  .icon-align {
    margin-right: 15%;
  }
  .gradient-border {
    --borderWidth: 0px;
  }
}

/*contact form*/
.cform input{
  border: 0px;
  padding: 8px;
  padding-right: 20px;
  border-radius: 3px;
  background-color: var(--lightgreen);
}
.form-control {
  width: 90%;
  font-size: 1rem;
  padding: 4px;
  margin: 3px;
}
.long { 
  border: 2px;
  padding: 8px;
  padding-right: 20px;
  border-radius: 3px;
  background-color: var(--lightgreen);
}
.s{
  background: var(--primaryColor);
  margin-top: 10px;
  color: var(--grey);
  width: 85%;
}
/*global*/
h1 {
  font-family:'Horev';
  text-align: center;
  font-size: 2rem;
  direction: rtl;
  line-height: 1.3;
  margin-bottom: 0.3em;
  letter-spacing: var(--mainSpacing);
}
/*about*/
h2 {
  font-family:'Horev';
  font-size: 2.5rem;
  padding: 10px;
  letter-spacing: 3px;  
}
h3 {
  font-size: 20px;
  letter-spacing: 3px;
  line-height: 2;
  font-weight: 600;
}
h4 {
  font-size: 1.2em;
  margin-bottom: 0.5em;
}
/*about*/
h5 {
  font-family: 'Shuneet', serif;
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 500;
}
h6 {
  font-family: 'Shuneet', serif;
  font-size: 25px;
  letter-spacing: 1px;
  font-weight: 100;
}
div{
  direction: rtl;
}
