@font-face {
  font-family: 'horev';
  src: local('horev'), url(./fonts/horev/horev/horevclm-heavy-webfont.ttf) format('truetype');
}
@font-face {
  font-family: 'Felix007';
  src: local('Felix007'), url(./fonts/felix007/fonts/felix007-medium-webfont.ttf) format('truetype');
}
@font-face {
  font-family: 'Yusei_Magic';
  src: local('Yusei_Magic'), url(./fonts/Yusei_Magic/YuseiMagic-Regular.ttf) format('truetype');
}
* {
  font-family: 'felix007';
  padding: 0;
  margin: 0;
}
:root {
  --lgreen: #6fba82; /*רקע תפריט*/
  --primaryColor: #f1bf95; /*כפתור באנר*/
  --grey: #585f5ed2; /*טקסט*/
  --secColor: wheat; 
  --mainWhite: white;
  --back: #e3f8fdab; /*רקע*/
  --lightShadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.4);
  --darkShadow: 2px 1px 10px 0px rgba(0, 0, 0, 0.5);
  --box-shadow: 0.25rem 0.25rem 0.6rem rgba(0,0,0,0.05), 0 0.5rem 1.125rem rgba(75,0,0,0.05);
}

.languegus {
  position: fixed;
  top: 15px;
  left: 46vw;
  z-index: 1;
}
.languegus img {
  border-radius: 1px;
}
.languegus img:hover {
  cursor: pointer;
  box-shadow: var(--lightShadow);
  transform: translateY(0.05rem);
}
@media screen and (min-width: 880px) {
  .languegus {
    left: 2%;
  }
}
.lang{
  direction: ltr;
}
.lang a, .lang button {
  font-size: large !important;
  font-family:'Yusei_Magic' !important;
}
.lang h1 {
  line-height: 3.3rem !important;
  font-size: 3rem !important;
  font-family:'Yusei_Magic' !important;
}
.lang h2, .lang h3 {
  font-size: x-large !important;
  font-family:'Yusei_Magic' !important;
}

h1 {
  font-family:'Horev';
  text-align: center;
  font-size: 2rem;
  direction: rtl;
  line-height: 1.3;
  margin-bottom: 0.3em;
  letter-spacing: 3px;
}
/* web */
h2 {
  color:var(--grey);
  letter-spacing: 3px;  
  font-family:'Horev';
  font-size: 2.2rem;
  padding: 10px;
}
/* abuot */
h3 {
  color:var(--lgreen);
  letter-spacing: 3px;  
  font-family:'Horev';
  font-size: 2.2rem;
  padding: 10px;
}
/* service */
h4{
  color: var(--lgreen);
  font-weight: 600;  
  font-size: 1.1rem;
  letter-spacing: 3px;
}
/* abuot */
h5 {
  color: var(--grey);
  text-align: justify;
  font-family: 'felix007';
  font-size: 1.2rem;
  letter-spacing: 1.2px;
  font-weight: 500;
  line-height: 1.5;
}
/* web */
h6 {
  color: var(--grey);
  text-align: justify;
  font-family: 'felix007';
  font-size: 1.2rem;
  letter-spacing: 2px;
  font-weight: 100;
  line-height: 1.7;
  direction: rtl;
}
/* service */
p{
  font-weight: 300;  
  font-size: 1.2rem;
  letter-spacing: 2px;
  padding: 15px;
  padding-bottom: 0px;
  width: 85%;
  margin: auto;
}
div{
  direction: rtl;
  color: var(--grey);
}

/*hero*/
.void{
  height: 440px;
}
.curved {
  position: relative;
  background: white;
  height: 9vh;
  bottom: -30px;
  border-bottom-left-radius: 90% 30%;
  border-bottom-right-radius: 10% 50%;
  border-bottom: 4px groove var(--lgreen);
}
.pic{
  width: 96vw;
  height: 550px;
  background: url("./images/newlap.png") no-repeat;
  background-position: left;
  background-size: 70%;
}
.en_pic {
    direction: ltr;
    margin-right: 30px;
    background-position: right !important;
}
/* Banner */
.banner h1 {
  padding: 30px;
  padding-bottom: 0px;
  font-size: 7rem;
  text-align: right;  
  letter-spacing: 6px;
  line-height: 0.8;
  color: var(--grey);
}
.banner {
  width: 26%;
  padding-top: 90px;
  padding-right: 2%;
}
/*hero contact form*/
.sform{
  position: absolute;
  left: 23vw;
  top: 196px;
  width: 27vw;
  text-align: center;
}
.en_sform{
  left: 49vw; 
}

.sform input{
  border: 3px solid var(--grey);
  border-radius: 5px;
  padding: 5px;
}
.sform-control {
  width: 80%;
  font-size: 1rem;
  padding: 3px;
  margin: 3px;
}
.cur{
  color: var(--mainWhite);
  font-size: 30px;
}
.submit{
  cursor: pointer;
  padding-top: 3px;
  margin-top: 17px;
  width: 90%;
  height: 100%;
  font-weight: 600;
  font-size: x-large;
  letter-spacing: 4px;
  color: var(--grey);
  box-shadow: var(--lightShadow);
  background: var(--primaryColor);
  border-radius: 55px 355px 55px 355px/355px 55px 355px 55px;
}
.submit:hover {
  transform: translateY(0.1rem);
  box-shadow: 1px 1px var(--lgreen);
}

@media screen and (max-width: 1170px) {
  .void{
    height: 400px;
  }.sform{
    left: 21vw;
    top: 206px;
    width: 30vw;
  }
  .lang h1 {
    font-size: 2rem !important;
  }
  .en_sform{
    left: 47vw; 
  }
  .submit{
    width: 85%;
    height: 40px;
    margin-top: 5px;
    padding-top: 0px;
    font-size: x-large;
  }
}
@media screen and (max-width: 970px) {
  .lang h1 {
    padding-left: 50px;
    font-size: 1.2rem !important;
    }
  .void{
    height: 370px;
  } 
  .pic {
    margin-top: -40px;
    height: 560px;
    width: 100%;
  }
  .banner h1 {
    padding-top: 65px;
    font-size: 5rem;
  }
  .banner{
    padding-right: 10px;
  }
  .en_sform{
    left: 45vw !important; 
  }
  .sform{
    left: 19.3vw;
    top: 173px;
    width: 32vw;
  }
  .sform-control {
    margin: 2px;
  }
  .submit{
    width: 85%;
    margin-top: 4px;
    font-size: larger;
    padding-bottom: 0px;
  }
  .cur{
    font-size: 20px;
  }
}
@media screen and (max-width: 890px) {
  .en_pic {
    direction: rtl;
  }
  .curved {
    height: 5vh;
  }
  .void{
    height: 400px;
  } .pic {
    background-position: right;
    margin-right: 10px;
    height: 560px;
    width: 135vw;
  }
  .lang h1 {
    font-size: 2rem !important;
    line-height: 1.2 !important;
  }
  .banner h1 {
    margin-top: 90px;
    text-align: center !important;
    font-size: 3rem;
  }
  .banner {
    margin-top: -70px;
    padding-top: 0px;
    width: 70%;
  }
  .sform{
    left: 30.5vw !important;
    top: 235px;
    width: 37vw;
  }
  .submit{
    width: 95%;
    padding-top: 3px;
  }
}
@media screen and (max-width: 680px) {
  .lang h1 {
    line-height: 1.3 !important;
    font-size: 1.2rem !important;
  }
  .void{
    height: 350px;
  } .pic {
    margin-right: 3vw;
    height: 480px;
    width: 100wv;
  }
  .banner h1 {
    font-size: 3rem;
  }
  .sform{
    left: 28vw !important;
    top: 202px;
    width: 39vw;
  }
  .sform input{
    height: 15px;
    margin: 2px;
  }
  .submit{
    width: 85%;
    height: 38px;
    padding-bottom: 0px;
  }
}
@media screen and (max-width: 600px) {
  .void{
    height: 450px;
  }.pic{
    height: 650px;
    margin-right: 1%;
  }
  .sform input{
    height: 19px;
    margin: 3px;
  }
  .banner{
    padding-top: 7px;
  }
  .sform{
    width: 43vw;
    left: 27vw !important;
    top: 209px;
  }.submit{
    margin-top: 60px;
    width: 100%;
  }
}
@media screen and (max-width: 500px) {
  .void{
    height: 430px;
  }.pic{
    height: 630px;
  }.sform input{
    height: 14px;
    margin: 1px;
    padding-top: 6px;
  } .banner{
    padding-top: 1px;
  } .sform{
    width: 43vw;
    left: 28vw !important;
    top: 213px;
  } .submit{
    margin-top: 55px;
    width: 100%;
  }
}

/*services*/
.services{
  text-align: center;
  padding: 50px;
  padding-bottom: 0px;
  color: var(--grey);
  background: var(--back);
}
.services-center {
  text-align: center;
  margin: auto;
  padding: 20px;  
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}
@media screen and (max-width: 480px) {
  .services{
    padding: 0px;
  }
}
.block-services {
  padding: 1.5rem 0rem;
  background: var(--mainWhite);
  box-shadow: var(--lightShadow);
  border: 1px solid var(--secColor);
  border-radius: 355px 10px 355px 10px/10px 355px 10px 355px;
}
.block-services:hover {
  box-shadow: var(--darkShadow);
}
.gif{
  height: 70px;
  width: 70px;
}


/*ABOUT*/
.about {
  background: var(--mainWhite);
  margin: auto;
  display: grid;
  padding: 40px;
  padding-top: 0px;
  margin-top: 20px;
  grid-row-gap: 2rem;  
}
.focused{
  width: 190px;
  height: 120px;
  margin: auto;
  padding-bottom: 60px;
  background: url("./images/focus.png") no-repeat;
  background-size: contain;
}
@media screen and (min-width: 1050px) {
  .focused {
    width: 250px;
    height: 250px;
  }
  .about {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 5rem;
    padding: 0px 90px;
  }
  .left{
    position: relative;
    bottom: 30px;
  }
  .choose {
    margin: 15% 15%;
    width: 300px;
    height: 300px;
    background: url("./images/coding_.png") no-repeat;
    background-size: contain;
    position: relative;
  }
}
.centerr{
  width: 90%;
}
@media screen and (max-width: 520px) {
  .about {
    padding: 2px;
  }
  .centerr{
    width: 75%;
    margin: auto;
  }
  .choose {
    width: 370px;
    height: 90px;
    margin-top: 10px;
  }
}


.bf {
  padding-top: 30px;
  border-style: solid;
  border-width: 0px 28vw 99px 72vw;
  border-color: transparent transparent  var(--mainWhite) transparent;
  background:var(--back);
}
.af {
  left: 20vw;
  bottom: 45px;
  position: relative;
  border-style: solid;
  border-width: 50px 80vw 0px 20vw;
  border-color: var(--mainWhite) transparent transparent transparent;
  transform: translateX(-20%) translateY(90%);
  background:var(--back);
}
/* weblist */
.prolog{
  background: var(--back);
  margin: auto;
  padding: 80px 0px;
}
.weblist{
  background: var(--mainWhite);
}
.weblist-center {
  padding-top: 20px;
  width: 80vw;
  margin: auto;
  display: grid;
}
.websec{
  margin-bottom: 20px;
  margin-right: -7px;
  padding: 10px 19px 0 19px;
  display: grid;
  grid-row-gap: 20px;
  grid-column-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(310px, 1fr)); 
}
@media screen and (max-width: 620px) {
  .weblist-center {
    width: 90vw;
  }
  .websec{
  padding: 10px 0px 0 0px;
  margin: 0px;
  }
}
.ltr{
  direction: ltr;
}
/* רשימת תכונות אתר */
ol.gradient-list > li, ol.gradient-list > li::before {
  box-shadow: 0.25rem 0.25rem 0.6rem rgba(0, 0, 0, 0.05), 0 0.5rem 1.125rem rgba(75, 0, 0, 0.05);
}
ol.gradient-list {
  counter-reset: gradient-counter;
  list-style: none;
  padding-top: 10px;
  padding: 2rem;
  border-radius: 2%;
  box-shadow: var(--box-shadow);
}
ol.gradient-list > li {
  background: white;
  border-radius: 0.5rem 0 0.5rem 0.5rem;
  counter-increment: gradient-counter;
  padding: 13px 3rem 13px 13px;
  position: relative;
  min-width: 320px;
}
ol.gradient-list > li::before, ol.gradient-list > li::after {
  background: linear-gradient(215deg, rgb(173, 219, 240) 0%, var(--back) 100%);
  border-radius: 1rem 1rem 1rem 0;
  position: absolute;
  overflow: hidden;
  height: 3rem;
  right: -0.5rem;
  width: 3rem;
  top: -7px;
}
ol.gradient-list > li::before {
  content: counter(gradient-counter);
  justify-content: flex-end;
  align-items: flex-end;
  display: flex;
  z-index: 1;
  font-size: 1.2rem;
  padding: 0.3em 0.5em;
}
ol.gradient-list > li + li {
  margin-top: 1rem;
}

/* english */
ol.gradient-e > li, ol.gradient-list > li::before {
  box-shadow: 0.25rem 0.25rem 0.6rem rgba(0, 0, 0, 0.05), 0 0.5rem 1.125rem rgba(75, 0, 0, 0.05);
}
ol.gradient-e {
  counter-reset: gradient-counter;
  list-style: none;
  padding-top: 10px;
  padding: 2rem;
  border-radius: 2%;
  box-shadow: var(--box-shadow);
}
ol.gradient-e > li {
  background: white;
  border-radius: 0.5rem 0 0.5rem 0.5rem;
  counter-increment: gradient-counter;
  padding: 13px 1rem 13px 2rem;
  position: relative;
  min-width: 300px;
}
ol.gradient-e > li::before, ol.gradient-list > li::after {
  background: linear-gradient(215deg, rgb(173, 219, 240) 0%, var(--back) 100%);
  border-radius: 1rem 1rem 1rem 0;
  position: absolute;
  overflow: hidden;
  height: 3rem;
  left: -1.5rem;
  width: 3rem;
  top: -5px;
}
ol.gradient-e > li::before {
  content: counter(gradient-counter);
  justify-content: flex-end;
  align-items: flex-end;
  display: flex;
  z-index: 1;
  font-size: 1.2rem;
  padding: 0.5em 1em;
}
ol.gradient-e > li + li {
  margin-top: 1rem;
}

/* תיק עבודות */
/*-------מסגרת  זזה על תמונה--------*/
.grid *,.grid *:after, .grid *:before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.grid {
	position: relative;
	margin: 0 auto;
	padding: 1em 0 4em;
	list-style: none;
	text-align: center;
}
.grid figure {
	position: relative;
	float: right;
	overflow: hidden;
	margin: 10px auto;
	/* width: 100%; */
	max-width: 100%;
	max-height: 390px;
	background: #3085a3;
	text-align: center;
  cursor: pointer;
  border-radius: 5px;
}
.grid figure img {
	position: relative;
	display: block;
	min-height: 100%;
	max-width: 100%;
	opacity: 0.8;
  width: 100%;
}
.grid figure figcaption {
	padding: 2em;
	color: #fefefe;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}
.grid figure figcaption,
.grid figure figcaption > a {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
}
/***** Chico *****/
figure.effect-chico img {
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  transform: scale(1);
  max-width: 100%;
  width: 470px;
  height: 260px;
  border-radius: 5px;
  border: 1px solid var(--verylightblue);
}
figure.effect-chico:hover img {
	opacity: 0.2;
  transform: scale(1.04);
}
figure.effect-chico a {
  text-decoration: none;
  color: var(--mainWhite);
  margin: 0 auto;
  font-size: 2rem;
  padding: 110px 0 20px 0;
  transform: scale(1.5);
}
/*המסגרת*/
figure.effect-chico figcaption::before {
	position: absolute;
	top: 15%;
	right: 10%;
	bottom: 15%;
	left: 10%;
	border: 2px solid #fefefe;
	content: '';
	-webkit-transform: scale(1.5);
	transform: scale(1.1);
}
/*עושה שיעלם כשלא עוברים*/
figure.effect-chico figcaption::before,
figure.effect-chico a {
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}
/*עושה שיופיע כשעוברים*/
figure.effect-chico:hover figcaption::before,
figure.effect-chico:hover a {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}


/*start*/
.sec{
  background: var(--blue);
  display: grid;
  margin: auto;
  padding: 30px;
  padding-top: 0px;
}
@media screen and (min-width: 1000px) {
  .sec {
    padding: 20px;
    padding-top: 55px;
    grid-template-columns: 1fr 1.7fr;
  }
}
.sec img{
  margin: auto;
  height: 200px;
  width: 290px;
  padding: 20px;
}
.sbf {
  background: var(--back);
  border-style: solid;
  border-width: 0px 100vw 90px 0vw;
  border-color: transparent transparent  var(--mainWhite) transparent;
}
.saf {
  background: var(--back);
  left: 20vw;
  bottom: 63px;
  position: relative;
  border-style: solid;
  border-width: 70px 0vw 0px 100vw;
  border-color: var(--mainWhite) transparent transparent transparent;
  transform: translateX(-20%) translateY(90%);
}


.col {
  display: grid;
  padding: 20px;
  padding-top: 3rem;
  padding-bottom: 1rem;
  background: var(--back);
  border-bottom: 1px groove var(--secColor);
}
/*icons*/
.icon-align {
  text-align: center;
  margin-right: 0%;
}
.col a {
  font-size: 19px;
  color: var(--grey);
}
.contact-icon{
  margin: 30px;
  margin-bottom: -17px;
  padding: 1px 15px 12px 5px;
  font-size: 1.2rem;
  color: #3085a3;
}
.contact-icon:hover {
  transform: scale(1.3);
}

/*contact form*/
.contact-sec {
  padding: 3rem;
  text-align: center;
  color: var(--grey);
}
.cform input{
  border: 0px;
  padding: 8px;
  padding-right: 20px;
  box-shadow: var(--lightShadow);
  color: var(--mainWhite);
  border-radius: 55px 355px 55px 355px/355px 55px 355px 55px;
}
.form-control {
  width: 90%;
  font-size: 1.2rem;
  margin: 3px;
}
.long { 
  border: 2px;
  padding: 8px;
  padding-right: 20px;
  border-radius: 35px 355px 35px 355px/355px 35px 355px 35px;
  box-shadow: var(--lightShadow);
  color: var(--mainWhite);
  /* background: var(--primaryColor); */
}
.s{
  background: var(--lgreen);
  color: var(--mainWhite);
  margin-top: 7px;
  padding: 0 25px !important;
  width: auto;
  font-size: larger;
}
@media screen and (min-width: 1000px) {
  .col {
    padding-top: 0rem;
    padding-bottom: 1rem;
    grid-template-columns: 3fr 5fr;
  }
  .contact-sec {
    border-right: 1px groove var(--blue);
  }
  .icon-sec {
    padding-top: 140px;
  }
  .form-control {
    width: 85%;
  }
  .icon-align {
    text-align: right;
    margin-right: 20%;
  }
}
@media screen and (max-width: 520px) {
  .col {
    margin: auto;
  }
  .icon-align {
    text-align: right;
    margin-right: 10%;
  }
  .gradient-border {
    width: 95%;
  }
  .form-control {
    width: 100%;
    margin-right: -5px;
  }
  .s{
    font-size: medium;
    padding: 0px;
  }
}

/* Navbar */

/* שורת תפריט*/
.navbar {
  position: fixed;
  width: 100%;
  z-index: 1;
  left: 0;
  top: 0;
  background: linear-gradient(to bottom, var(--secColor) 95%, var(--back) 100%);
}
/* כותרת*/
.nav-header {
  display: flex;
  justify-content: space-between;
}
/*לוגו*/
.nav-logo {
  margin-top: 10px;
  margin-bottom: 3px;
  height: 50px;
  width: 90px;
}
.nav-logo:hover,
.nav-logo:focus {
    box-shadow: 0 0 0.2em 0 var(--blue) ;
    transform: translateY(-0.1em);
}
/* כפתור התפריט*/
.nav-btn {
  background: transparent;
  cursor: pointer;
  outline: none;
  border: none;
}
/*אייקון התפריט*/
.nav-icon {
  position: absolute;
  left: 20px;
  top: 20px;
  font-size: 1.9rem;
  color:var(--grey);
}

/*** מסך קטן ***/

  /* עיצוב התפריט הנפתח */
  .links {
    background-color: var(--lgreen);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: fixed;
    transition: 0.5s;
    overflow-x: hidden;
    text-align:center;
    padding-top: 30vh;
  }
    /*הכפתורים בתפריט*/
  .links a {
    color: var(--secColor);
    font-family: 'horev';
    text-decoration: none;
    letter-spacing: 3px;
    padding: 2px 30px;
    font-size: 2rem;
    font-weight: 500;
    display: block;
    line-height: 2;
  }
  /* nav */
.navi {overflow: hidden;}
.navi a{position:relative;}
.navi a:hover, .navi a:after {color:var(--mainWhite);}
.navi a:hover:before{opacity:1; bottom:0;}
.navi a:before {
  content:"";
  position:absolute; 
  left:35%;
  opacity:0;
  bottom:100%; 
  width:30%; 
  height:auto; 
  background-color:#c5a9a9; 
  border-bottom:2px solid var(--mainWhite);
  -o-transition:all .2s ease-out;
  transition:all .2s ease-out;
}
/* תפריט קטן, כש0 הוא סגור*/
.hide-nav {
  width: 0px;
}
.closebtn {
  color: var(--secColor);
  position: absolute ;
  cursor: pointer;
  top: 0;
  right: 10px;
  font-size: 36px;
  margin-left: 50px;
}
.closebtn:hover{
  color: var(--mainWhite);
}

/*** מסך גדול ***/
@media screen and (min-width: 880px) {
    /*עיצוב גובה התפריט*/
  .links {
    background-color: transparent;
    justify-content: center;
    margin-top: 10px;
    padding-top: 0;
    display: flex;
  }
  /* כפתורי תפריט */
  .links a {
    /* width: 220px; */
    font-weight: 500;
    font-size: 1.7rem;
    padding: 2px 1.5rem;
    color: var(--grey);
    text-decoration: none;
  }
  /*מעלים תפריט קטן */
    .nav-btn {
      display: none;
    }
    .closebtn {
      display: none !important;
    }
    .hide-nav {
      width: 100%;
      height: auto;
    }
    .navi a:before {
      left:0;
      width:100%; 
      height:auto; 
    }
    .nav-logo {
      width: 0;
    }
}

/* כף יד מנופפת */
.secicon {
  color:var(--secColor);
  background-color: rgba(109, 154, 180, 0.589);
  border: 2px solid var(--mainWhite);
  border-radius: 50%;
  position: fixed;
  font-size: 2rem;
  padding: 10px;
  left: 27px;
  top: 82%; 
  z-index: 1;
}
.secicon:hover{
  transform: rotate(20deg);
}
.secicon2 {
  top: 72%;
  color: var(--lgreen);
}
.secicon3 {
  top: 62%; 
  color: var(--mainWhite);
}

.empty-blue {
  height: 50px;
  background: var(--back);
  margin: auto;
}
.empty-white {
  height: 150px;
  margin: auto;
}

.puzzle{
  height: 160px;
  background-size: contain;
  position: relative;
  top: 50px;
}
/* footer */
.footerWrapper{
  height: auto;
  padding: 1px 0 10px;
  background: var(--grey);
}
.footerWrapper p{
  color: var(--primaryColor);
  text-transform: capitalize;
  text-align: center;
  font-weight: 600;
  font-size: 17px;
  direction: ltr;
}

